name: test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cachix/install-nix-action@v20
      - uses: cachix/cachix-action@v10
        with:
          name: mpv-webm
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix-shell tests/default.nix --run "make"
      - run: nix-shell tests/default.nix --run "python -m tests.run_tests"